:root,
.material-react-root {
  --material-ui-font: 'Google Sans Flex', 'Google Sans', 'Roboto', 'Helvetica Neue', Arial,
    sans-serif;
  --md-ref-typeface-brand: var(--material-ui-font);
  --md-ref-typeface-plain: var(--material-ui-font);
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-bold: 700;

  --md-sys-color-primary: #396a11;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #b8f38b;
  --md-sys-color-on-primary-container: #0b2000;
  --md-sys-color-primary-fixed: #b8f38b;
  --md-sys-color-primary-fixed-dim: #9dd672;
  --md-sys-color-on-primary-fixed: #0b2000;
  --md-sys-color-on-primary-fixed-variant: #255100;
  --md-sys-color-secondary: #56624b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #dae7c9;
  --md-sys-color-on-secondary-container: #141e0c;
  --md-sys-color-tertiary: #386665;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #bbecea;
  --md-sys-color-on-tertiary-container: #002020;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #fafaf2;
  --md-sys-color-on-background: #1a1c18;
  --md-sys-color-surface: #fafaf2;
  --md-sys-color-on-surface: #1a1c18;
  --md-sys-color-surface-variant: #e0e4d6;
  --md-sys-color-on-surface-variant: #44483e;
  --md-sys-color-surface-dim: #dadad3;
  --md-sys-color-surface-bright: #fafaf2;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f4ed;
  --md-sys-color-surface-container: #eeeee7;
  --md-sys-color-surface-container-high: #e9e8e1;
  --md-sys-color-surface-container-highest: #e3e3dc;
  --md-sys-color-surface-tint: #396a11;
  --md-sys-color-outline: #74796d;
  --md-sys-color-outline-variant: #c4c8ba;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #2f312c;
  --md-sys-color-inverse-on-surface: #f1f1ea;
  --md-sys-color-inverse-primary: #9dd672;

  --md-sys-shape-corner-none: 0;
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-small: 8px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-large-increased: 20px;
  --md-sys-shape-corner-extra-large: 28px;
  --md-sys-shape-corner-extra-large-increased: 32px;
  --md-sys-shape-corner-extra-extra-large: 48px;
  --md-sys-shape-corner-full: 9999px;

  --md-sys-elevation-level0: none;
  --md-sys-elevation-level1: 0 1px 2px rgb(0 0 0 / 18%);
  --md-sys-elevation-level2: 0 2px 6px rgb(0 0 0 / 16%);
  --md-sys-elevation-level3: 0 4px 10px rgb(0 0 0 / 14%);
  --md-sys-elevation-level4: 0 6px 14px rgb(0 0 0 / 14%);
  --md-sys-elevation-level5: 0 8px 18px rgb(0 0 0 / 14%);

  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-size: 57px;
  --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-tracking: -0.2px;
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-size: 45px;
  --md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-tracking: 0px;
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-size: 36px;
  --md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-tracking: 0px;
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-size: 32px;
  --md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-tracking: 0px;
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-size: 28px;
  --md-sys-typescale-headline-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-tracking: 0px;
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-size: 24px;
  --md-sys-typescale-headline-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-tracking: 0px;
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-size: 22px;
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-tracking: 0px;
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-size: 16px;
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-tracking: 0.2px;
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-size: 14px;
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-tracking: 0.1px;
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-size: 16px;
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-tracking: 0.5px;
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-size: 14px;
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-tracking: 0.2px;
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-size: 12px;
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-tracking: 0.4px;
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-size: 14px;
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-tracking: 0.1px;
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-size: 12px;
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-tracking: 0.5px;
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-size: 11px;
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-tracking: 0.5px;

  --md-sys-typescale-display-large-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-emphasized-size: 57px;
  --md-sys-typescale-display-large-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-display-large-emphasized-line-height: 64px;
  --md-sys-typescale-display-large-emphasized-tracking: 0px;
  --md-sys-typescale-display-medium-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-emphasized-size: 45px;
  --md-sys-typescale-display-medium-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-display-medium-emphasized-line-height: 52px;
  --md-sys-typescale-display-medium-emphasized-tracking: 0px;
  --md-sys-typescale-display-small-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-emphasized-size: 36px;
  --md-sys-typescale-display-small-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-display-small-emphasized-line-height: 44px;
  --md-sys-typescale-display-small-emphasized-tracking: 0px;
  --md-sys-typescale-headline-large-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-emphasized-size: 32px;
  --md-sys-typescale-headline-large-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-headline-large-emphasized-line-height: 40px;
  --md-sys-typescale-headline-large-emphasized-tracking: 0px;
  --md-sys-typescale-headline-medium-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-emphasized-size: 28px;
  --md-sys-typescale-headline-medium-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-headline-medium-emphasized-line-height: 36px;
  --md-sys-typescale-headline-medium-emphasized-tracking: 0px;
  --md-sys-typescale-headline-small-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-emphasized-size: 24px;
  --md-sys-typescale-headline-small-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-headline-small-emphasized-line-height: 32px;
  --md-sys-typescale-headline-small-emphasized-tracking: 0px;
  --md-sys-typescale-title-large-emphasized-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-emphasized-size: 22px;
  --md-sys-typescale-title-large-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-large-emphasized-line-height: 28px;
  --md-sys-typescale-title-large-emphasized-tracking: 0px;
  --md-sys-typescale-title-medium-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-emphasized-size: 16px;
  --md-sys-typescale-title-medium-emphasized-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-title-medium-emphasized-line-height: 24px;
  --md-sys-typescale-title-medium-emphasized-tracking: 0.15px;
  --md-sys-typescale-title-small-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-emphasized-size: 14px;
  --md-sys-typescale-title-small-emphasized-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-title-small-emphasized-line-height: 20px;
  --md-sys-typescale-title-small-emphasized-tracking: 0.1px;
  --md-sys-typescale-body-large-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-emphasized-size: 16px;
  --md-sys-typescale-body-large-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-body-large-emphasized-line-height: 24px;
  --md-sys-typescale-body-large-emphasized-tracking: 0.15px;
  --md-sys-typescale-body-medium-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-emphasized-size: 14px;
  --md-sys-typescale-body-medium-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-body-medium-emphasized-line-height: 20px;
  --md-sys-typescale-body-medium-emphasized-tracking: 0.25px;
  --md-sys-typescale-body-small-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-emphasized-size: 12px;
  --md-sys-typescale-body-small-emphasized-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-body-small-emphasized-line-height: 16px;
  --md-sys-typescale-body-small-emphasized-tracking: 0.4px;
  --md-sys-typescale-label-large-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-emphasized-size: 14px;
  --md-sys-typescale-label-large-emphasized-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-label-large-emphasized-line-height: 20px;
  --md-sys-typescale-label-large-emphasized-tracking: 0.1px;
  --md-sys-typescale-label-medium-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-emphasized-size: 12px;
  --md-sys-typescale-label-medium-emphasized-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-label-medium-emphasized-line-height: 16px;
  --md-sys-typescale-label-medium-emphasized-tracking: 0.5px;
  --md-sys-typescale-label-small-emphasized-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-emphasized-size: 11px;
  --md-sys-typescale-label-small-emphasized-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-label-small-emphasized-line-height: 16px;
  --md-sys-typescale-label-small-emphasized-tracking: 0.5px;

  --m3-list-corner-large: var(--md-sys-shape-corner-large);
  --m3-list-corner-medium: var(--md-sys-shape-corner-medium);
  --m3-list-corner-connected: var(--md-sys-shape-corner-extra-small);
  --m3-list-one-line-container-height: 56px;
  --m3-list-two-line-container-height: 72px;
  --m3-list-three-line-container-height: 88px;
  --m3-list-leading-image-size: 56px;
  --m3-list-leading-avatar-size: 40px;
  --m3-list-leading-video-small-width: 100px;
  --m3-list-leading-video-small-height: 56px;
  --m3-list-leading-video-large-width: 114px;
  --m3-list-leading-video-large-height: 64px;
  --m3-list-leading-icon-size: 20px;
  --m3-list-trailing-icon-size: 20px;
  --m3-list-leading-space: 16px;
  --m3-list-trailing-space: 16px;
  --m3-list-between-space: 12px;
  --m3-list-vertical-space: 8px;
  --m3-list-three-line-vertical-space: 12px;
  --m3-list-row-gap: 2px;
  --m3-list-container-color: var(--md-sys-color-surface);
  --m3-list-selected-container-color: var(--md-sys-color-secondary-container);
  --m3-list-state-hover-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --m3-list-state-focus-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --m3-list-state-pressed-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --m3-list-state-dragged-opacity: var(--md-sys-state-dragged-state-layer-opacity);
  --m3-list-dragged-container-color: var(--md-sys-color-tertiary-container);
  --m3-list-dragged-content-color: var(--md-sys-color-on-tertiary-container);

  --md-switch-track-width: 52px;
  --md-switch-track-height: 32px;
  --md-switch-track-outline-width: 2px;
  --md-switch-track-shape: 999px;
  --md-switch-handle-width: 16px;
  --md-switch-handle-height: 16px;
  --md-switch-selected-handle-width: 24px;
  --md-switch-selected-handle-height: 24px;
  --md-switch-pressed-handle-width: 28px;
  --md-switch-pressed-handle-height: 28px;
  --md-switch-with-icon-handle-width: 24px;
  --md-switch-with-icon-handle-height: 24px;
  --md-switch-icon-size: 16px;
  --md-switch-selected-icon-size: 16px;
  --md-switch-state-layer-size: 40px;
  --md-switch-touch-target-size: 48px;
  --md-switch-handle-shape: 999px;
  --md-switch-state-layer-shape: 999px;
  --md-switch-track-color: var(--md-sys-color-surface-container-highest);
  --md-switch-track-outline-color: var(--md-sys-color-outline);
  --md-switch-handle-color: var(--md-sys-color-outline);
  --md-switch-icon-color: var(--md-sys-color-surface-container-highest);
  --md-switch-hover-track-color: var(--md-sys-color-surface-container-highest);
  --md-switch-hover-track-outline-color: var(--md-sys-color-outline);
  --md-switch-hover-handle-color: var(--md-sys-color-on-surface-variant);
  --md-switch-hover-icon-color: var(--md-sys-color-surface-container-highest);
  --md-switch-hover-state-layer-color: var(--md-sys-color-on-surface);
  --md-switch-hover-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-switch-focus-track-color: var(--md-sys-color-surface-container-highest);
  --md-switch-focus-track-outline-color: var(--md-sys-color-outline);
  --md-switch-focus-handle-color: var(--md-sys-color-on-surface-variant);
  --md-switch-pressed-track-color: var(--md-sys-color-surface-container-highest);
  --md-switch-pressed-track-outline-color: var(--md-sys-color-outline);
  --md-switch-pressed-handle-color: var(--md-sys-color-on-surface-variant);
  --md-switch-pressed-icon-color: var(--md-sys-color-surface-container-highest);
  --md-switch-pressed-state-layer-color: var(--md-sys-color-on-surface);
  --md-switch-pressed-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-switch-selected-track-color: var(--md-sys-color-primary);
  --md-switch-selected-handle-color: var(--md-sys-color-on-primary);
  --md-switch-selected-icon-color: var(--md-sys-color-on-primary-container);
  --md-switch-selected-hover-track-color: var(--md-sys-color-primary);
  --md-switch-selected-hover-handle-color: var(--md-switch-selected-handle-color);
  --md-switch-selected-hover-icon-color: var(--md-sys-color-on-primary-container);
  --md-switch-selected-hover-state-layer-color: var(--md-sys-color-primary);
  --md-switch-selected-hover-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-switch-selected-focus-track-color: var(--md-sys-color-primary);
  --md-switch-selected-focus-handle-color: var(--md-switch-selected-handle-color);
  --md-switch-selected-pressed-track-color: var(--md-sys-color-primary);
  --md-switch-selected-pressed-handle-color: var(--md-switch-selected-handle-color);
  --md-switch-selected-pressed-icon-color: var(--md-sys-color-on-primary-container);
  --md-switch-selected-pressed-state-layer-color: var(--md-sys-color-primary);
  --md-switch-selected-pressed-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-switch-disabled-track-color: var(--md-sys-color-surface-container-highest);
  --md-switch-disabled-track-outline-color: var(--md-sys-color-on-surface);
  --md-switch-disabled-selected-track-color: var(--md-sys-color-on-surface);
  --md-switch-disabled-track-opacity: 0.12;
  --md-switch-disabled-handle-color: var(--md-sys-color-on-surface);
  --md-switch-disabled-handle-opacity: 0.38;
  --md-switch-disabled-selected-handle-color: var(--md-sys-color-surface);
  --md-switch-disabled-selected-handle-opacity: 1;
  --md-switch-disabled-icon-color: var(--md-sys-color-surface-container-highest);
  --md-switch-disabled-icon-opacity: 0.38;
  --md-switch-disabled-selected-icon-color: var(--md-sys-color-on-surface);
  --md-switch-disabled-selected-icon-opacity: 0.38;

  --md-slider-track-height: 16px;
  --md-slider-track-shape: 999px;
  --md-slider-track-inside-corner-size: 2px;
  --md-slider-active-track-color: var(--md-sys-color-primary);
  --md-slider-inactive-track-color: var(--md-sys-color-secondary-container);
  --md-slider-active-stop-color: var(--md-slider-inactive-track-color);
  --md-slider-inactive-stop-color: var(--md-slider-active-track-color);
  --md-slider-handle-color: var(--md-sys-color-primary);
  --md-slider-handle-width: 4px;
  --md-slider-pressed-handle-width: 2px;
  --md-slider-handle-height: 44px;
  --md-slider-handle-gap-size: 6px;
  --md-slider-current-handle-width: var(--md-slider-handle-width);
  --md-slider-current-handle-gap-and-half-width: calc(
    var(--md-slider-handle-gap-size) + (var(--md-slider-current-handle-width) / 2)
  );
  --md-slider-handle-shape: 999px;
  --md-slider-stop-size: 4px;
  --md-slider-stop-indicator-trailing-space: 6px;
  --md-slider-stop-indicator-center-space: calc(
    var(--md-slider-stop-indicator-trailing-space) + (var(--md-slider-stop-size) / 2)
  );
  --md-slider-touch-target-size: 48px;
  --md-slider-touch-target-shape: 999px;
  --md-slider-disabled-active-track-color: var(--md-sys-color-on-surface);
  --md-slider-disabled-active-track-opacity: 0.38;
  --md-slider-disabled-inactive-track-color: var(--md-sys-color-on-surface);
  --md-slider-disabled-inactive-track-opacity: 0.12;
  --md-slider-disabled-handle-color: var(--md-sys-color-on-surface);
  --md-slider-disabled-handle-opacity: 0.38;
  --md-slider-disabled-stop-color: var(--md-sys-color-on-surface);
  --md-slider-disabled-stop-opacity: 0.38;
  --md-slider-value-indicator-container-color: var(--md-sys-color-inverse-surface);
  --md-slider-value-indicator-label-text-color: var(--md-sys-color-inverse-on-surface);
  --md-slider-value-indicator-container-height: 40px;
  --md-slider-value-indicator-min-width: 40px;
  --md-slider-value-indicator-horizontal-padding: 10px;
  --md-slider-value-indicator-shape: var(--md-sys-shape-corner-full);
}
